// JourneyMap configuration file. Modify at your own risk!
// To use in all worlds, place here: journeymap/config/6.0/
// For more information, go to: http://journeymap.info/Options_Manager
{
  "name": "blpc",
  "fields": {
    "waypointsyncinterval": {
      "value": "100",
      "type": "IntegerField"
    },
    "waypointsharing": {
      "value": "true",
      "type": "BooleanField"
    },
    "showclaimoverlays": {
      "value": "true",
      "type": "BooleanField"
    }
  },
  "configVersion": "6.0.4"
}