// JourneyMap server configuration file. Modify at your own risk!
// To restore the default settings, simply delete this file before starting Minecraft server
// For more information, go to: http://journeymap.info/JourneyMapServer
//
// blpc : Server addon configuration for blpc 
{
  "modId": "blpc",
  "fields": {
    "waypointsyncinterval": {
      "value": "100",
      "type": "IntegerField"
    },
    "waypointsharing": {
      "value": "true",
      "type": "BooleanField"
    },
    "showclaimoverlays": {
      "value": "true",
      "type": "BooleanField"
    }
  },
  "displayName": "blpc",
  "description": "Server addon configuration for blpc",
  "onClient": false,
  "configVersion": "6.0.4",
  "categories": null
}