# Configuration file

##########################################################################################################
# modules
#--------------------------------------------------------------------------------------------------------#
# Module configuration file. Can individually enable/disable modules from BLPCMod
##########################################################################################################

modules {
    # BetterQuesting Integration Module. Uses BQu party system.
    # Module Dependencies: [ blpc:integration ]
    # Mod Dependencies: [ betterquesting ]
    B:"blpc:bqu_integration"=true

    # Core module of BLPC
    B:"blpc:core"=true

    # General BLPC Integration Module. Disabling this disables all integration modules.
    # Module Dependencies: [ blpc:core ]
    B:"blpc:integration"=true

    # JourneyMap Integration Module. Displays chunk claim overlays on JourneyMap.
    # Module Dependencies: [ blpc:integration ]
    # Mod Dependencies: [ journeymap ]
    B:"blpc:jmap_integration"=true
}


